[Unit]
After=ec2net-ifup@eth1.service
Description = SNAT via ENI eth1

[Service]
ExecStart = /opt/nat/snat.sh
Type = oneshot
StandardOutput = kmsg+console

[Install]
WantedBy = multi-user.target
